/* Start Main Section Nav && Sidebar */
body:not(.sidebar-mini-md) nav.main-header {
    background-color: #26c5f9;
}

.second-nav {
    margin-left: auto;
}

nav.main-header .navbar-nav .nav-item a:hover,
nav.main-header .navbar-nav .nav-item a:focus {
    background-color: #26c5f9;
    border-color: #26c5f9;
}

aside[class*=sidebar-dark] .brand-link {
    background-color: #26c5f9;
    color: #fff;
    border-bottom: 1px solid #fff;
}

:not(.layout-fixed) .main-sidebar {
    height: inherit;
    min-height: 100%;
    position: absolute;
    top: 0;
}

aside.main-sidebar {
    background-color: #26c5f9;
    overflow-y: hidden;
    z-index: 1038;
}

aside[class*=sidebar-dark] .user-panel {
    border-bottom: 1px solid #fff;
}

.sidebar .user-panel .info>a {
    color: #fff;
    font-size: 18px;
}

.sidebar-logo {
    height: 45px;
    line-height: 2.2;
    width: 45px;
    background: #fff;
    display: inline-block;
    /* margin-right: 5px;
    margin-left: -55px; */
    border-radius: 50%;
    opacity: .9;
}

.sidebar-logo img {
    margin-top: -5px;
    width: 86%;
}

.sidebar .nav>li,
li p {
    color: #fff;
}

.nav-sidebar .nav-item>.nav-link {
    position: relative;
    width: 230px;

}

.sidebar nav .nav-sidebar .nav-item .nav-link:hover,
.sidebar nav .nav-sidebar .nav-item .nav-link.active {
    background-color: #383d47;
}

.sidebar .nav-item i {
    color: #fff;
}



.sidebar .nav-item p>span {
    background-color: #fff;
    color: #000;

}

.navbar-collapse .navbar-nav .dropdown-menu .user-header {
    background-color: #26c5f9 !important;
}



.card-footer button.btn-primary,
.card-footer button.btn-primary:focus {
    background-color: #26c5f9;
    border-color: #26c5f9;

}

.card-footer button.btn-primary:hover,
.card-footer button.btn-primary:focus,
.card-footer button.btn-primary:active {
    background-color: #383d47;
    border-color: #383d47;
}



.content div.alert-success {
    background-color: #636e7d !important;
    border-color: #383d47;

}

.container-fluid button.close {

    color: #fff;
    opacity: 0.8;
}



.form-group input[type=file]::-webkit-file-upload-button {
    border: 1px solid #26c5f9;
    background-color: #26c5f9;
    color: #fff;

    border-radius: 7px;
    outline: none;
}

.form-group input[type=file]::-webkit-file-upload-button:hover {
    background-color: #383d47;
}

.form-group>div {
    width: 270px;
}

.form-group {
    width: 300px;
}

/* End Main Section */
/* Start Timeline Event */
.timeline {

    width: 550px;
}

.content div.timeline>div>.timeline-item {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: .25rem;
    background: #fff;

    width: 500px;
}

.content div.timeline>div>.fas {
    border-radius: 50%;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    text-align: center;

    width: 30px;
}

/* End Timeline */
/* Start All Users */
.content .box-body .btn-success {
    color: #fff;
    background-color: #26c5f9;
    border-color: #26c5f9;
    box-shadow: none;

}

.content .table>thead>tr>th {
    text-align: center;
    background-color: #26c5f9;
    color: #fff;
}

.content .table>thead>tr>th a {
    color: #fff;
}

.content .table-bordered>tbody>tr>td {
    text-align: center;
}

/* End All Users */
/* Start Footer */
a.back-to-top {
    background-color: #26c5f9;
    border-color: #26c5f9;
    bottom: 0.1rem;
}


/* End Footer  */